{% macro login_field(field, kwargs={}, color="font-purple") %}
    {% set direct_error = h.is_field_error(field.errors) %}
    <div class="form-group form-md-line-input {{ ' has-error' if direct_error else 'has-success' }}">
        <label for="{{ field.id }}" class="col-md-3 control-label">{{ field.label.text }}</label>
        <div class="col-md-6">
            <div class="input-icon">
                {% set _dummy = kwargs.setdefault('class', 'form-control') %}
                {{ field(**kwargs)|safe }}
                <div class="form-control-focus"></div>
                {% if direct_error %}
                    {% for e in field.errors if e is string %}
                       <span class="help-block">{{ e }}</span>
                    {% endfor %}
                {% endif %}

                {{ render_fa(field.type) }}

            </div>
        </div>
    </div>
{% endmacro %}

{% macro login_botton(checkbox_field, submit_field, checkbox_kwargs={}, submit_kwargs={}) %}
<div class="row">
    <div class="col-md-offset-3 col-md-3">
        <!-- 记住我字段开始 -->
        <div class="md-checkbox-list">
            <div class="md-checkbox">
                {% set _dummy = checkbox_kwargs.setdefault('class', 'md-check') %}
                {{ checkbox_field(**checkbox_kwargs)|safe }}
                <label for="{{ checkbox_field.id }}">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>{{ checkbox_field.label.text }}</label>
            </div>
        </div>
    </div>
    <!-- 记住我字段结束 -->
    <!-- 提交按钮开始 -->
    <div class="col-md-3">
        <div class="pull-right">
            {% set _dummy = submit_kwargs.setdefault('class', 'btn green') %}
            {{ submit_field(**submit_kwargs)|safe }}
        </div>
    </div>
    <!-- 提交按钮结束 -->
</div>
{% endmacro %}

<!-- 登陆字段中的小图标定义 -->
{% macro render_fa(type) %}

    {% if type == 'StringField' %}
        {% set fa = 'fa-envelope-o' %}
    {% elif type == 'PasswordField' %}
        {% set fa = 'fa-key' %}
    {% else %}
        {% set fa = None %}
    {% endif %}
    {% if fa %}
        <i class="fa {{ fa }} {{ color }}"></i>
    {% endif %}

{% endmacro%}