{% macro login_field(field, kwargs={}, color="font-purple") %}
<div class="form-group form-md-line-input">
    <label for="{{ field.id }}" class="col-md-2 control-label">{{ field.label.text }}</label>
    <div class="col-md-6">
        <div class="input-icon">
            {% set _dummy = kwargs.setdefault('class', 'form-control') %}
            {{ field(**kwargs)|safe }}
            <div class="form-control-focus"></div>
            <i class="fa {{ field.fa }} {{ color }}"></i>
        </div>
    </div>
</div>
{% endmacro %}

{% macro login_botton(checkbox_field, submit_field, checkbox_kwargs={}, submit_kwargs={}) %}
<div class="form-group form-md-line-input">
    <div class="col-md-offset-2 col-md-6">
        <div class="row">
            <div class="col-md-6">
                <!-- 记住我字段开始 -->
                <div class="md-checkbox-list">
                    <div class="md-checkbox">
                        {% set _dummy = checkbox_kwargs.setdefault('class', 'md-check') %}
                        {{ checkbox_field(**checkbox_kwargs)|safe }}
                        <label for="{{ checkbox_field.id }}">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>{{ checkbox_field.label.text }}</label>
                    </div>
                </div>
                <!-- 记住我字段结束 -->
            </div>
            <div class="col-md-6">
                <!-- 提交按钮开始 -->
                <div class="form-group">
                    <div class="col-md-offset-6">
                        {% set _dummy = submit_kwargs.setdefault('class', 'btn green') %}
                        {{ submit_field(**submit_kwargs)|safe }}
                    </div>
                </div>
                <!-- 提交按钮结束 -->
            </div>
        </div>
    </div>
</div>
{% endmacro %}
